.navbar {
    background-color: #086f61;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-brand a.navbar-item {
    font-weight: bold;
    color: #fff;
  }
  
  .navbar-menu {
    display: flex;
  }
  
  .navbar-menu .navbar-item {
    margin-right: 1rem;
    color: #fff;
  }
  
  .navbar-end {
    display: flex;
  }
  
  .navbar-end .buttons {
    display: flex;
    margin-left: auto;
  }
  
  .navbar-end .buttons .button {
    margin-left: 1rem;
  }

  .navbar-burger {
    display: none;
    cursor: pointer;
  }
  
  @media (max-width: 767px) {
    .navbar-burger {
      display: block;
    }
    
    .navbar-menu {
      display: none;
    }
    
    .navbar-menu.is-active {
      display: block;
    }
  }
  .navbar-burger span {
    background-color: #fff;
    display: block;
    height: 2px;
    width: 22px;
    margin-bottom: 5px;
  }
  
  .navbar-burger span:first-child {
    margin-top: 5px;
  }

  .buttonnav{
    background-color: #ff5405;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-right: 1rem;
  }
  .navbar-start{
    margin-top: 0.5rem;
    font-weight: 500;
  }

  .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: solid;
  }
 .navbar-item{
    text-decoration: solid;
 }
  